<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="UniCatalogDb" connectionString="Server=DESKTOP-0L2SADM;Database=unicatalog;User ID= sa;Password=1234;  TrustServerCertificate=True;" />
		
	</connectionStrings>
	<appSettings>
		<add key="GradesPath" value="../../../Rapoarte/"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>